.base-button {
  padding: 1rem;
  border: none;
  margin-bottom: 1rem;
}

.primary {
  background-color: blue;
  color: white;
}

.secondary {
  background-color: gray;
  color: black;
}

.danger {
    background-color: red;
    color: white;
}